body{
    margin: 0;
}

.gallery{
    padding: 2em;
    min-height: 120vh;
}

.buttons{
    padding: 2em 0 6em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.buttons button{
    margin: 0.5em;
    padding: 0.7em 1.5em;
    font-size: 0.8em;
    border: none;
    background: #111;
    color: #fff;
    border: 2px solid #111;
    border-radius: 0.2em;
    cursor: pointer;
    transition: 0.3s;
}

.buttons button:hover, .buttons .btn-clicked {
    background: #fff;
    color: #111;
}

.images{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.images img{
    width: 25em;
    margin: 1em;
    border-radius: 0.5em;
    transition: 0.6s;
}

/*-- Classes for JS --*/
.images .img-expand{
    width: 25em;
    margin: 1em;
}

.images .img-shrink{
    width: 0em;
    margin: -1em;
}

@media screen and (max-width: 1439px){
    .images{
        max-width: 896px;
    }
}

@media screen and (max-width:986px){
    .images{
        align-items: center;
        flex-direction: column;
    }
    .images img{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 600px){
    .buttons button{
        width: 100%;
        display: block;
    }
    .images .img-expand, .images img{
        width: 100%;
    }
}